<h3>Comandos a ejecutar</h3>
<form method="post" action="/inicio">
    <input type="text" name="comandos_auto">
    <input type="submit" value="ejecutar">
</form>

<h3>Posicion Inicial: <%=@posicion%></h3>