<h3>Comandos a ejecutar</h3>
<form method="post" action="/inicio">
    <textarea name="comandos_auto" col="30" rows="10"></textarea>
    <input type="submit" value="ejecutar">
</form>

<h3>Posicion Inicial: <%=@posicion%></h3>